<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382899224834-lds943auad9qpnuqehi7lb8si2j268f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382899224834-lds943auad9qpnuqehi7lb8si2j268f7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>382899224834-049e385pam8dj8gk8sra4cbg5veelrj3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDG99Z0u73VV65fB0fyVnnyRrrgio1127g</string>
	<key>GCM_SENDER_ID</key>
	<string>382899224834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quicktech.renthManager</string>
	<key>PROJECT_ID</key>
	<string>renth-2ddf9</string>
	<key>STORAGE_BUCKET</key>
	<string>renth-2ddf9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382899224834:ios:f45bf42ad7e9d95177421b</string>
</dict>
</plist>